<h1>My Todos</h1>
<div *ngIf="delete_message" class="alert alert-warning">{{delete_message}}</div>
<div class="container">
<Table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Target Date</th>
            <th>Is Completed</th>
            <th>Update</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tr *ngFor="let todo of todos">
        <td>{{todo.desc}}</td>
        <td>{{todo.target | date}} </td>
        <td>{{todo.done}}</td>
        <td><button (click)="updateTodoById(todo.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteTodoById(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>
</Table>
<div class="container">
    <button (click)="addTodo()" class="btn btn-success">Create New Todo</button>
</div>
</div>
